<!DOCTYPE html>
<html>
<head>
	<title>Passwordresetdone</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Bootstrap
  </a>
</nav>
<h1>PASSWORD RESET COMPLETED</h1>
<br>
<h3>your password has been changed go and login with your new password now...</h3>
<a href="{% url 'login' %}" class="btn btn-primary">Login</a>
</body>
</html>